/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  #header{
    height: 50px;
  }
  .logo{
    float: left;
    width: 25%;
    padding-top: 8px;
    padding-left: 20px;
    height: 40px;
  }
  .locationLogo{
    padding-right: 40px;
    height: 20px ;
    background-color: red;
  }
  .notificationLogo{
    padding-top: 0px;
    height: 20px ;
  }
  .icons {
    padding-top: 0px;
  }

  .promos {
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .pad {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 30px;
  }
  .name {
    font-size: 18px;
    height: 12px;
    color: #858282;
  }
  .address {
    height: 20px;
    font-size: 14px;
    color: #858282;
  }
  .desc {
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    height: 55px;
  }
  .stars {
    float: right;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;

  }
  .cardImage {
    width: 100%;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #favourites {
    overflow-x: scroll;
    white-space: nowrap;
  }
  #cardItem {
    min-width: 400px;
    height: 350px;
    display: inline-block;
    background-color: transparent;
    border-color: transparent;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  }
  #customCard {
    width: 100%;
    background-color: white !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #inactive {
    color: #858282;
    text-align: center;
    font-family: Arial;
    font-size: 100%;

  }
  #active {
    color: #fc9920;
    font-family: Arial;
    font-size: 100%;
  }
  .ui-icon-home:after {
    background-image:  url("../../Assets/img/icons/home-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;

  }

  .ui-icon-home-active:after {
    background-image:  url("../../Assets/img/icons/home-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }


  .ui-icon-search-inactive:after {
    background-image:  url("../../Assets/img/icons/search-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }


  .ui-icon-search-active:after {
    background-image:  url("../../Assets/img/icons/search-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }

  .ui-icon-track-inactive:after {
    background-image:  url("../../Assets/img/icons/track-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }


  .ui-icon-track-active:after {
    background-image:  url("../../Assets/img/icons/track-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }


  .ui-icon-profile-inactive:after {
    background-image:  url("../../Assets/img/icons/account-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }

  .ui-icon-profile-active:after {
    background-image:  url("../../Assets/img/icons/account-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- iPad ----------- */

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    #header{
      height: 65px;
    }
    .logo{
      float: left;
      width: 25%;
      padding-top: 8px;
      padding-left: 40px;
      height: 50px;
    }
    .locationLogo{
      padding-top: 15px;
      width: 28px;
    }
    .notificationLogo{
      margin-right: 20px;
      padding-top: 15px;
      width: 28px;
    }

    .promos {
      width: 100%;
    }
    .title {
      font-size: 28px;
    }
    .pad {
      text-align: left;
      margin-bottom: 5px;
      margin-top: 10px;
      padding-left: 30px;
    }
    .name {
      font-size: 18px;
      height: 12px;
      color: #858282;
    }
    .address {
      height: 20px;
      font-size: 14px;
      color: #858282;
    }
    .desc {
      text-align: left;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
      height: 55px;
    }
    .stars {
      float: right;
      position: relative;
      margin-left: 10px;
      margin-top: 10px;

    }
    .cardImage {
      width: 100%;
      height: 280px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    #favourites {
      overflow-x: scroll;
      white-space: nowrap;
    }
    #cardItem {
      min-width: 400px;
      height: 350px;
      display: inline-block;
      background-color: transparent;
      border-color: transparent;
      /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
    #customCard {
      width: 100%;
      background-color: white !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    #inactive {
      color: #858282;
      text-align: center;
      font-family: Arial;
      font-size: 100%;

    }
    #active {
      color: #fc9920;
      font-family: Arial;
      font-size: 100%;
    }
    .ui-icon-home:after {
      background-image:  url("../../Assets/img/icons/home-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;

    }

    .ui-icon-home-active:after {
      background-image:  url("../../Assets/img/icons/home-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-search-inactive:after {
      background-image:  url("../../Assets/img/icons/search-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-search-active:after {
      background-image:  url("../../Assets/img/icons/search-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }

    .ui-icon-track-inactive:after {
      background-image:  url("../../Assets/img/icons/track-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-track-active:after {
      background-image:  url("../../Assets/img/icons/track-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-profile-inactive:after {
      background-image:  url("../../Assets/img/icons/account-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }

    .ui-icon-profile-active:after {
      background-image:  url("../../Assets/img/icons/account-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #header{
      height: 70px;
    }
    .logo{
      float: left;
      width: 20%;
      padding-top: 8px;
      padding-left: 40px;
      height: 55px;
    }
    .locationLogo{
      padding-top: 15px;
      width: 28px;
    }
    .notificationLogo{
      margin-right: 20px;
      padding-top: 15px;
      width: 28px;
    }

    .promos {
      width: 70%;
    }
    .title {
      font-size: 28px;
    }
    .pad {
      text-align: left;
      margin-bottom: 5px;
      margin-top: 10px;
      padding-left: 30px;
    }
    .name {
      font-size: 18px;
      height: 12px;
      color: #858282;
    }
    .address {
      height: 20px;
      font-size: 14px;
      color: #858282;
    }
    .desc {
      text-align: left;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
      height: 58px;
    }
    .stars {
      float: right;
      position: relative;
      margin-left: 10px;
      margin-top: 10px;

    }
    .cardImage {
      width: 100%;
      height: 180px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    #favourites {
      overflow-x: scroll;
      white-space: nowrap;
    }
    #cardItem {
      min-width: 280px;
      display: inline-block;
      background-color: transparent;
      border-color: transparent;
      /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
    #customCard {
      width: 100%;
      background-color: white !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    #inactive {
      color: #858282;
      text-align: center;
      font-family: Arial;
      font-size: 100%;

    }
    #active {
      color: #fc9920;
      font-family: Arial;
      font-size: 100%;
    }
    .ui-icon-home:after {
      background-image:  url("../../Assets/img/icons/home-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;

    }

    .ui-icon-home-active:after {
      background-image:  url("../../Assets/img/icons/home-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-search-inactive:after {
      background-image:  url("../../Assets/img/icons/search-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-search-active:after {
      background-image:  url("../../Assets/img/icons/search-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }

    .ui-icon-track-inactive:after {
      background-image:  url("../../Assets/img/icons/track-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-track-active:after {
      background-image:  url("../../Assets/img/icons/track-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-profile-inactive:after {
      background-image:  url("../../Assets/img/icons/account-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }

    .ui-icon-profile-active:after {
      background-image:  url("../../Assets/img/icons/account-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }
  }