.logo {
  width: 120px;
  margin: 3px 0 3px 6.5% !important;
}

.mhead {
  margin: 0px 0px 5px 0px;
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .notificationLogo {
      padding-top: 10px;
      padding-right: 10px;
      height: 35px;
  }
    #camera{
      width: 25px; 
      height: 25px;
      margin-top: 15px;
    }
    .elements{
      display: none;
    }
    .category-images{
      height: 100px;
      border-radius: 9px;
      opacity: 0.8;
    }
    #food{
      position: absolute;
      bottom: 30px;
      right: 50px;
      color: white;
      padding-left: 20px;
      
    }
    #space-between-rows{
      padding-top: 50px;
      visibility:hidden;
    }
    
    /*footer*/
    .ui-icon-home-active:after {
      background-image:  url("../../Assets/img/icons/home-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }
  .ui-icon-home-inactive:after {
      background-image:  url("../../Assets/img/icons/home-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }

  .ui-icon-search-inactive:after{
      background-image:  url("../../Assets/img/icons/search-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }
  .ui-icon-search-active:after{
      background-image:  url("../../Assets/img/icons/search-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }

  .ui-icon-track-inactive:after {
      background-image:  url("../../Assets/img/icons/track-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }
  .ui-icon-track-active:after {
      background-image:  url("../../Assets/img/icons/track-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }

  .ui-icon-profile-inactive:after {
      background-image:  url("../../Assets/img/icons/account-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }
  .ui-icon-profile-active:after {
      background-image:  url("../../Assets/img/icons/account-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
  }

  #inactive {
      color: #858282;
      text-align: center;
      font-family: Arial;
      font-size: 11pt;
      background-color: white;
  }

  #active {
      color: #fc9920;
      font-family: Arial;
      font-size: 11pt;
      background-color: white;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}








/* ----------- iPad ----------- */

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #header{
      height: 70px;
    }
    .logo{
      float: left;
      width: 15%;
      padding-top: 8px;
      padding-left: 40px;
      height: 55px;
    }
    .locationLogo{
      padding-top: 15px;
      width: 28px;
    }
    .notificationLogo{
      padding-top: 15px;
      width: 28px;
    }
    #camera{
      width: 20px; 
      height: 20px;
    }
    .elements-iphone{
      display: none;
    }
    .category-images{
      height: 200px;
      border-radius: 9px;
      opacity: 0.8;
      widows: 100px;
    }
    #food{
      position: absolute;
      bottom: 65px;
      right: 75px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
    #space-between-rows{
      padding-top: 50px;
      visibility:hidden;
    }
    #inactive {
      color: #858282;
      text-align: center;
      font-family: Arial;
      font-size: 100%;
    }
    #active {
      color: #fc9920;
      font-family: Arial;
      font-size: 100%;
    }
    .ui-icon-home:after {
      background-image:  url("../../Assets/img/icons/home-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }
    .ui-icon-home-active:after {
      background-image:  url("../../Assets/img/icons/home-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-search-inactive:after {
      background-image:  url("../../Assets/img/icons/search-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-search-active:after {
      background-image:  url("../../Assets/img/icons/search-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }

    .ui-icon-track-inactive:after {
      background-image:  url("../../Assets/img/icons/track-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-track-active:after {
      background-image:  url("../../Assets/img/icons/track-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }


    .ui-icon-profile-inactive:after {
      background-image:  url("../../Assets/img/icons/account-inactive.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }

    .ui-icon-profile-active:after {
      background-image:  url("../../Assets/img/icons/account-active.svg");
      background-size: 90%;
      width: 25px !important;
      height: 35px !important;
    }
  }