.mhead {
    margin: 3px 0px 5px 0px;
}

.logo {
    width: 120px;
    margin: 3px 0 3px 24%;
}

#header {
    z-index: 1000;
}

.back-btn {
    margin-left: 2%;
    text-decoration: none;
    font-size: 18px;
}

.menu-ham2 {
    width: 120px;
    margin: 5px 0 3px 15%
}

.back-btn a:hover {
    text-decoration: none !important;
}

a{
    text-decoration: none;
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .locationLogo {
        padding-top: 10px;
        padding-right: 60px;
        height: 35px;
    }
    #di {
        border: none;
           text-decoration: none;
           background-color: transparent;
           text-shadow: none;
           box-shadow: none;
           width: 100%;   
           padding-left: 0%;    
       }
    
       #di>li.ui-last-child, #di>li.ui-last-child>a.ui-btn {
       -webkit-border-bottom-right-radius: initial; 
       border-bottom-right-radius: initial; 
       -webkit-border-bottom-left-radius: initial;
       border-bottom-left-radius: initial;
    
    }
       #di>li.ui-first-child, #di>li.ui-first-child>a.ui-btn, #di>li.ui-child, #di>li.ui-child>a.ui-btn , #di>li.ui-last-child, #di>li.ui-last-child>a.ui-btn {
       -webkit-border-top-right-radius: 10px; 
       border-top-right-radius: 10px; 
       -webkit-border-top-left-radius: 10px;
       border-top-left-radius: 10px;
       border-bottom-left-radius: 5px;
       border-bottom-right-radius: 5px
    }
    
    ul {
        list-style-type: none;
      }
      #header1{
        font-family:Arial !important;
        font-size:20px !important;
        text-align:center !important;
        margin-top: 20px !important;
        font-weight: bold;
    }
    
    #add-popup-success {
        width: 100%;
    }
    
       #uu {
           border: none;
           text-decoration: none;
           background-color: transparent;
           margin-bottom: 14px;
           box-shadow: -1px 1px 6px 1px rgba(0,0,0,0.2);
           border-top-right-radius: 10px;
           border-top-left-radius: 10px;
           background-color: white;
           color: black;
           min-height: 220px;    
       }
       #prod-n {
         font-family: arial;
       font-size: 16px;
       margin-left: 5%;
       font-weight: bold;
       margin-bottom: 0px;
       text-shadow: none;
       text-decoration: none;
       }
       #address {
       font-family: arial;
       font-size: 12px;
       margin-left: 5.5%;
       font-weight: 100;
       color: grey;
       }

     
       
    
       #img-fav{
        width: 108%;
    max-height: 11em;
    position: relative;
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 0;
    right: 14.6px;
       
    }
    .col-xs-11{
        padding-left: 0%!important;
    }
    #heart {
        color: red;
      margin-left: -15%;
      position: absolute;
      margin-top: 118px;
      z-index: 3;
      text-decoration: none;
      text-shadow: none;
    }
    .heart-icon
    {
      position: absolute;
      top: 70%;
      left: 87%;
      z-index: 2;
    }
    .fa-lg {
      font-size: 2em;
      line-height: .75em;
      vertical-align: -15%;
    }
    
    .stars {
      margin-left: 70%;
      font-size: 1.3rem;
      position: relative;
      margin-top: -35px;
      margin-bottom: 28px;
    }		
    #uu a {
    padding:0px; 
    color:black !important;
    }
    
    #email {
    width: 26px;
    /* height: 26px; */
    padding-top: 9px;
    position: absolute;
    margin-top: -44px;
    margin-left: 320px;
    margin-right: -20px;
    z-index: 15;
    }
    .sort{
         margin-left: 331.5px;
       margin-top: 122px;
       z-index: 8;
    }
        .notificationLogo {
          padding-top: 10px;
          padding-right: 10px;
          height: 35px;
      }
        #camera{
          width: 25px; 
          height: 25px;
          margin-top: 15px;
        }
        .elements{
          display: none;
        }
        .category-images{
          height: 100px;
          border-radius: 9px;
          opacity: 0.8;
        }
        #food{
          position: absolute;
          bottom: 30px;
          right: 50px;
          color: white;
          padding-left: 20px;
          
        }
        #space-between-rows{
          padding-top: 50px;
          visibility:hidden;
        }
    .notificationLogo {
        padding-top: 10px;
        padding-right: 10px;
        height: 35px;
    }
    .icons {
        padding-top: 0px;
    }
    .promos {
        width: 100%;
    }
    .title {
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .pad {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 10px;
        padding-left: 3px;
    }
    .name {
        font-size: 16px;
        height: 12px;
        color: #858282;
        text-shadow: none;
    }
    .address {
        height: 20px;
        font-size: 14px;
        color: #858282;
        width: 20px;
        text-shadow: none;
    }
    .desc {
        position: relative;
        float: left;
        width: 2px !important;
        text-align: left;
        margin-top: 5px;
        margin-left: 5px;
        height: 63px;
    }
    .link {
        font-weight: normal !important;
        color: #858282 !important;
    }
    .stars {
        position: relative;
        float: right;
        margin-left: 195px;
        margin-top: 10px;
    }
    .cardImage {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .lists {
        overflow-x: scroll !important;
        white-space: nowrap !important;
    }

    #cardItem {
        min-width: 270px;
        height: 270px;
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
    #customCard {
        width: 100%;
        background-color: white !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }
    .card {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 5px 5px 0px lightgray;
        border-radius: 10px;


    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .menu-ham2 {
        width: 120px;
        margin: 5px 0 3px 31%;
    }
    .mhead {
        margin: 0px 0px 5px 0px;
    }
    .locationLogo {
        padding-top: 10px !important;
        margin-right: 80px !important;
        height: 30px !important;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 10px !important;
        height: 30px !important;
    }
    .promos {
        width: 100%;
    }
    .title {
        font-size: 20px;
    }
    .pad {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 10px;
        padding-left: 10px!important;
    }
    .name {
        font-size: 16px;
        height: 12px;
        color: #858282;
    }
    .address {
        height: 20px;
        font-size: 14px;
        color: #858282;
    }
    .desc {
        position: relative;
        float: left;
        width: 2px !important;
        text-align: left;
        margin-top: 5px;
        margin-left: 5px;
        height: 80px!important;
    }
    .link {
        font-weight: normal !important;
        color: #858282 !important;
    }
    .stars {
        position: relative;
        float: right;
        margin-left: 210px!important;
        margin-top: 10px;
    }
    .cardImage {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .lists {
        overflow-x: scroll !important;
        white-space: nowrap !important;
        margin: auto;
    }
    #cardItem {
        min-width: 270px;
        height: 270px!important;
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
    #customCard {
        width: 100%;
        background-color: white !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }
    .card {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 5px 5px 0px lightgray;
        border-radius: 10px;

    }
}


/* ----------- iPad ----------- */

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    #header {
        height: 70px;
    }
    .logo {
        float: left;
        width: 150px;
        padding-top: 5px;
        margin-left: 40px;
    }
    .locationLogo {
        padding-top: 15px;
        padding-right: 80px;
        height: 48px;
    }
    .notificationLogo {
        padding-top: 15px;
        padding-right: 15px;
        height: 48px;
    }
    .promos {
        width: 100%;
    }
    .title {
        font-size: 28px;
    }
    .pad {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 10px;
        padding-left: 10px;
    }
    .name {
        font-size: 18px;
        height: 12px;
        color: #858282;
    }
    .address {
        height: 20px;
        font-size: 14px;
        color: #858282;
    }
    .desc {
        position: relative;
        float: left;
        width: 2px !important;
        text-align: left;
        margin-top: 5px;
        margin-left: 5px;
        height: 65px;
    }
    .link {
        font-weight: normal !important;
        color: #858282 !important;
    }
    .stars {
        position: relative;
        float: right;
        margin-left: 320px;
        margin-top: 10px;
    }
    .cardImage {
        width: 100%;
        height: 280px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .lists {
        overflow-x: scroll;
        white-space: nowrap;
    }
    #cardItem {
        min-width: 400px;
        height: 350px;
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
    #customCard {
        width: 100%;
        background-color: white !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }
    .card {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 5px 5px 0px lightgray;
        border-radius: 10px;

    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #header {
        height: 70px;
    }
    .logo {
        width: 150px !important;
        padding-top: 5px;
        margin-left: 25%;
    }
    .locationLogo {
        padding-top: 10px !important;
        margin-right: 100px !important;
        height: 50px !important;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 3% !important;
        height: 50px !important;
    }
    .promos {
        width: 70%;
    }
    .title {
        font-size: 28px;
    }
    .pad {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 10px;
        padding-left: 10px;
    }
    .name {
        font-size: 18px;
        height: 12px;
        color: #858282;
    }
    .address {
        height: 20px;
        font-size: 14px;
        color: #858282;
    }
    .desc {
        position: relative;
        float: left;
        width: 2px !important;
        text-align: left;
        margin-top: 5px;
        margin-left: 5px;
    }
    .link {
       font-weight: normal !important;
        color: #858282 !important;
    }
    .stars {
        position: relative;
        float: right;
        margin-left: 210px!important;
        margin-top: 10px;
    }
    .cardImage {
        width: 100%;
        height: 180px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .lists {
        overflow-x: scroll;
        white-space: nowrap;
    }
    #cardItem {
        min-width: 280px;
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
    #customCard {
        width: 100%;
        background-color: white !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }
    .card {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 5px 5px 0px lightgray;
        border-radius: 10px;

    }
}