.back-btn {
    margin-left: 2%;
    text-decoration: none;
    font-size: 18px;
}

.back-btn a:hover {
    text-decoration: none;
}

.mhead {
    margin: 0px 0px 5px 0px;
}

.logo {
    width: 120px;
    margin: 3px 0 3px 5%;
}
.locationLogo {
    padding-top: 10px;
    padding-right: 60px;
    height: 35px;
}
.notificationLogo {
    padding-top: 10px;
    padding-right: 10px;
    height: 35px;
}
.icons {
    padding-top: 0px;
}
/*footer*/
.ui-icon-home-active:after {
    background-image:  url("../../Assets/img/icons/home-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}
.ui-icon-home-inactive:after {
    background-image:  url("../../Assets/img/icons/home-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-search-inactive:after{
    background-image:  url("../../Assets/img/icons/search-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}
.ui-icon-search-active:after{
    background-image:  url("../../Assets/img/icons/search-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-track-inactive:after {
    background-image:  url("../../Assets/img/icons/track-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}
.ui-icon-track-active:after {
    background-image:  url("../../Assets/img/icons/track-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-profile-inactive:after {
    background-image:  url("../../Assets/img/icons/account-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}
.ui-icon-profile-active:after {
    background-image:  url("../../Assets/img/icons/account-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

#inactive {
    color: #858282;
    text-align: center;
    font-family: Arial;
    font-size: 11pt;
    background-color: white;
}

#active {
    color: #fc9920;
    font-family: Arial;
    font-size: 11pt;
    background-color: white;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
}

.currentDiv {
    margin-left: 10%;
}

.pastDiv {
    margin-right: 10%;
}

#currentBtn {
    font-family: Arial;
    background-color: #fc9920 ;
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 50px;
    border-radius: 9pt 0pt 0pt 9pt;
    border: none;
    margin-top: 0px;
    margin-bottom: 10px;
    text-shadow: none;
}

#pastBtn {
    font-family: Arial;
    background-color: #858282  ;
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 50px;
    border-radius: 0pt 9pt 9pt 0pt;
    border: none;
    margin-top: 0px;
    margin-bottom: 10px;
    text-shadow: none;
}

.pageTitle {
    font-size: 22px;
    font-weight: bold;
}
.card {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    padding-bottom: 20px;
}
.title{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.delivery {
    font-size: 16px;
    padding-bottom: 15px;
}
.order {
    font-size: 16px;
    margin-right: 135px;
    margin-bottom: -15px;
}
.item {
    width: 70%;
    padding-bottom: 5px;
}
hr {
    height: 3px;
    border: 1px;
    box-shadow: inset 0 9px 9px -3px #ccc;
    width: 70%;
}

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .menu-ham2 {
        width: 120px;
        margin: 5px 0 3px 31%;
    }
    .mhead {
        margin: 0px 0px 5px 0px;
    }
    .locationLogo {
        padding-top: 10px !important;
        margin-right: 80px !important;
        height: 30px !important;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 10px !important;
        height: 30px !important;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }
    .wrapper {
        display: grid;
        grid-auto-flow: column;
    }

    .currentDiv {
        margin-left: 10%;
    }

    .pastDiv {
        margin-right: 10%;
    }

    #currentBtn {
        font-family: Arial;
        background-color:  #fc9920;
        font-size: 18px;
        font-weight: bold;
        color: white;
        height: 50px;
        border-radius: 9pt 0pt 0pt 9pt;
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        text-shadow: none;
    }

    #pastBtn {
        font-family: Arial;
        background-color: #858282  ;
        font-size: 18px;
        font-weight: bold;
        color: black;
        height: 50px;
        border-radius: 0pt 9pt 9pt 0pt;
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        text-shadow: none;
    }

    .pageTitle {
        font-size: 22px;
        font-weight: bold;
    }
    .card {
        background-color: white;
        border-radius: 20px;
        width: 90%;
        padding-bottom: 20px;
    }
    .title{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .delivery {
        font-size: 16px;
        padding-bottom: 15px;
    }
    .order {
        font-size: 16px;
        margin-right: 210px !important;
        margin-bottom: -15px;
    }
    .item {
        width: 70%;
        padding-bottom: 5px;
    }
    hr {
        height: 3px;
        border: 1px;
        box-shadow: inset 0 9px 9px -3px #ccc;
        width: 50%;
    }
}


/* ----------- iPad ----------- */

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    #header {
        height: 70px;
    }
    .logo {
        float: left;
        width: 150px;
        padding-top: 5px;
        margin-left: 40px;
    }
    .locationLogo {
        padding-top: 15px;
        padding-right: 80px;
        height: 48px;
    }
    .notificationLogo {
        padding-top: 15px;
        padding-right: 10px;
        height: 48px;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }
    .wrapper {
        display: grid;
        grid-auto-flow: column;
    }

    .currentDiv {
        margin-left: 10%;
    }

    .pastDiv {
        margin-right: 10%;
    }

    #currentBtn {
        font-family: Arial;
        background-color: #fc9920 ;
        font-size: 18px;
        font-weight: bold;
        color: white;
        height: 50px;
        border-radius: 9pt 0pt 0pt 9pt;
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        text-shadow: none;
    }

    #pastBtn {
        font-family: Arial;
        background-color: #858282  ;
        font-size: 18px;
        font-weight: bold;
        color: black;
        height: 50px;
        border-radius: 0pt 9pt 9pt 0pt;
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        text-shadow: none;
    }

    .pageTitle {
        font-size: 22px;
        font-weight: bold;
    }
    .card {
        background-color: white;
        border-radius: 20px;
        width: 90%;
        padding-bottom: 20px;
    }
    .title{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .delivery {
        font-size: 16px;
        padding-bottom: 15px;
    }
    .order {
        font-size: 16px;
        margin-right: 230px;
        margin-bottom: -15px;
    }
    .item {
        width: 70%;
        padding-bottom: 5px;
    }
    hr {
        height: 3px;
        border: 1px;
        box-shadow: inset 0 9px 9px -3px #ccc;
        width: 50%;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #header {
        height: 70px;
    }
    .logo {
        float: left;
        width: 150px !important;
        padding-top: 3px;
        margin-left: 50px;
    }
    .locationLogo {
        padding-top: 10px !important;
        margin-right: 80px !important;
        height: 50px !important;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 3% !important;
        height: 50px !important;
    }
    /*footer*/
    .ui-icon-home-active:after {
        background-image:  url("../../Assets/img/icons/home-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-home-inactive:after {
        background-image:  url("../../Assets/img/icons/home-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-search-inactive:after{
        background-image:  url("../../Assets/img/icons/search-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-search-active:after{
        background-image:  url("../../Assets/img/icons/search-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-track-inactive:after {
        background-image:  url("../../Assets/img/icons/track-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-track-active:after {
        background-image:  url("../../Assets/img/icons/track-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    .ui-icon-profile-inactive:after {
        background-image:  url("../../Assets/img/icons/account-inactive.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }
    .ui-icon-profile-active:after {
        background-image:  url("../../Assets/img/icons/account-active.svg");
        background-size: 90%;
        width: 25px !important;
        height: 35px !important;
    }

    #inactive {
        color: #858282;
        text-align: center;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    #active {
        color: #fc9920;
        font-family: Arial;
        font-size: 11pt;
        background-color: white;
    }

    .wrapper {
        display: grid;
        grid-auto-flow: column;
    }

    .currentDiv {
        margin-left: 10%;
    }

    .pastDiv {
        margin-right: 10%;
    }

    #currentBtn {
        font-family: Arial;
        background-color: #fc9920  ;
        font-size: 18px;
        font-weight: bold;
        color: white;
        height: 50px;
        border-radius: 9pt 0pt 0pt 9pt;
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        text-shadow: none;
    }

    #pastBtn {
        font-family: Arial;
        background-color: #858282;
        font-size: 18px;
        font-weight: bold;
        color: black;
        height: 50px;
        border-radius: 0pt 9pt 9pt 0pt;
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        text-shadow: none;
    }

    .pageTitle {
        font-size: 22px;
        font-weight: bold;
    }
    .card {
        background-color: white;
        border-radius: 20px;
        width: 90%;
        padding-bottom: 20px;
    }
    .title{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .delivery {
        font-size: 16px;
        padding-bottom: 15px;
    }
    .order {
        font-size: 16px;
        margin-right: 300px;
        margin-bottom: -15px;
    }
    .item {
        width: 70%;
        padding-bottom: 5px;
    }
    hr {
        height: 3px;
        border: 1px;
        box-shadow: inset 0 9px 9px -3px #ccc;
        width: 50%;
    }
}