/* ----------- iPhone X ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .logo {
        float: left;
        width: 120px !important;
        padding-top: 5px;
        margin-left: 3%;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 3% !important;
        height: 35px !important;
    }
    #grad1 {
        height: 100px;
        background-color: #fc9920;
        /* For browsers that do not support gradients */
    }
    .mhead {
        margin: 3px 0px 5px 0px;
    }
    .menu-ham2 {
        width: 120px;
        margin: 5px 0 3px 135px;
    }
    #container1 {
        box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: white;
        color: black;
    }
    #av {
        height: 98px;
        width: 98px;
        margin-top: -50px;
        margin-bottom: 10px;
    }
    .logoAlign {
        margin: 0 0 3px 35px;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #v-promo-popup {
        width: 320px;
    }
    #v-promo-popup-edit {
        width: 320px;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #sau {
        font-family: Arial;
        font-style: normal;
        font-size: 12px;
        font-weight: 100;
    }
    #Submit {
        background-color: #fc9920;
        color: #ffffff;
        border: Black;
        font-size: 11px;
        font-style: normal;
        border-radius: 25px;
        width: 78px;
        height: 28px;
        text-shadow: none;
        margin-top: -44px;
        margin-bottom: 23px;
        margin-left: 255px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    #un,
    #us,
    #ug,
    #uk {
        font-family: Arial;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        color: black;
        width: 201px !important;
        height: 32px !important;
        border-radius: 25px;
        background: #ffffff;
        border: .9px solid #d0cfcf;
        margin: .4em 0;
        text-shadow: none;
    }
    #submit {
        margin-top: 10px;
        background-color: #ff9700;
        color: white;
        font-weight: bold;
        font-family: Arial;
        border: none;
        font-size: 12px;
        font-style: normal;
        border-radius: 25px;
        width: 201px;
        text-shadow: none;
    }
    #he2 {
        font-family: Arial !important;
        font-size: 12px !important;
        text-align: center !important;
        margin-top: 0px !important;
        font-weight: regular;
    }
    #header1 {
        font-family: Arial !important;
        font-size: 20px !important;
        text-align: center !important;
        margin-top: 20px !important;
        font-weight: bold;
    }
    .ma {
        margin-left: 84px;
        margin-top: -114px;
        padding-bottom: 0px;
        padding-top: 61px;
    }
    .itemName {
        color: #000000;
        font-weight: bold;
    }
    .accountName {
        color: #ffffff;
    }
    .itemPrice {
        color: #858282;
        margin-top: -8px;
    }
    .column {
        float: left;
        width: 31.33%;
        padding: 10px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    .column1 {
        float: left;
        width: 32.73%;
        padding: 15px;
        height: 120px;
        /* Should be removed. Only for demonstration */
    }
    .column2 {
        float: bottom;
        width: 444.93%;
        padding: 25px;
        height: 80px;
        /* Should be removed. Only for demonstration */
    }
    #margin-top-link {
        margin: 5px 0 3px 20px;
        color: #858282;
    }
    #margin-top-link2 {
        margin: 5px 0 3px 18px;
        color: #858282;
    }
    #margin-top-link3 {
        margin: 5px 0 3px 24px;
        color: #858282;
    }
    #margin-top-link4 {
        margin: 0 0 3px 15px;
        color: #858282;
    }
    #margin-top-link4-top {
        /*margin: 0 0 3px 15px;*/
        color: #858282;
    }
    #margin-top-link5 {
        margin: 0px 5px 3px 30px;
        color: #858282;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .row2:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .logo {
        float: left;
        width: 100px !important;
        padding-top: 5px;
        margin-left: 3%;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 3% !important;
        height: 25px !important;
    }
    #grad1 {
        height: 100px;
        background-color: #fc9920;
        /* For browsers that do not support gradients */
    }
    .logoAlign {
        margin: 0 0 3px 35px;
    }
    .mhead {
        margin: 3px 0px 5px 0px;
    }
    .menu-ham2 {
        width: 120px;
        margin: 5px 0 3px 105px;
    }
    #container1 {
        box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: white;
        color: black;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #v-promo-popup {
        width: 320px;
    }
    #v-promo-popup-edit {
        width: 320px;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #sau {
        font-family: Arial;
        font-style: normal;
        font-size: 12px;
        font-weight: 100;
    }
    #Submit {
        background-color: #fc9920;
        color: #ffffff;
        border: Black;
        font-size: 11px;
        font-style: normal;
        border-radius: 25px;
        width: 78px;
        height: 28px;
        text-shadow: none;
        margin-top: -44px;
        margin-bottom: 23px;
        margin-left: 255px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    #un,
    #us,
    #ug,
    #uk {
        font-family: Arial;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        color: black;
        width: 201px !important;
        height: 32px !important;
        border-radius: 25px;
        background: #ffffff;
        border: .9px solid #d0cfcf;
        margin: .4em 0;
        text-shadow: none;
    }
    #submit {
        margin-top: 10px;
        background-color: #ff9700;
        color: white;
        font-weight: bold;
        font-family: Arial;
        border: none;
        font-size: 12px;
        font-style: normal;
        border-radius: 25px;
        width: 201px;
        text-shadow: none;
    }
    #he2 {
        font-family: Arial !important;
        font-size: 12px !important;
        text-align: center !important;
        margin-top: 0px !important;
        font-weight: regular;
    }
    #header1 {
        font-family: Arial !important;
        font-size: 20px !important;
        text-align: center !important;
        margin-top: 20px !important;
        font-weight: bold;
    }
    .ma {
        margin-left: 178px;
        margin-top: -136px;
        padding-bottom: 28px;
        padding-top: 55px;
    }
    .itemName {
        color: #858282;
        font-weight: bold;
    }
    .accountName {
        color: #ffffff;
        font-weight: bold;
    }
    .itemPrice {
        color: #858282;
        margin-top: -8px;
    }
    .column {
        float: left;
        width: 31.33%;
        padding: 10px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column {
        float: left;
        width: 31.33%;
        padding: 10px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    .column1 {
        float: left;
        width: 23.33%;
        padding: 12px;
        height: 150px;
        /* Should be removed. Only for demonstration */
    }
    .column2 {
        float: bottom;
        width: 444.93%;
        padding: 25px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    #margin-top-link {
        margin: 5px 0 3px 28px;
        color: #858282;
    }
    #margin-top-link2 {
        margin: 5px 0 3px 33px;
        color: #858282;
    }
    #margin-top-link3 {
        margin: 5px 0 3px 24px;
        color: #858282;
    }
    #margin-top-link4 {
        margin: 5px 0 3px 32px;
        color: #858282;
    }
    #margin-top-link4-top {
        margin: 5px 0 3px 32px;
        color: #858282;
    }
    #margin-top-link5 {
        margin: 5px 0 3px 18px;
        color: #858282;
    }
    .row2:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* ----------- iPad ----------- */

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    body {
        background-color: #f9f9f9;
    }
    .logo {
        float: left;
        width: 120px !important;
        padding-top: 5px;
        margin-left: 3%;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 3% !important;
        height: 35px !important;
    }
    #grad1 {
        height: 150px;
        background-color: #fc9920;
        /* For browsers that do not support gradients */
    }
    .logoAlign {
        margin: 0 0 3px 35px;
    }
    .mhead {
        margin: 3px 0px 5px 0px;
    }
    .menu-ham2 {
        width: 120px;
        margin: 5px 0 3px 300px;
    }
    #container1 {
        box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: white;
        color: black;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #v-promo-popup {
        width: 350px;
    }
    #v-promo-popup-edit {
        width: 350px;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #sau {
        font-family: Arial;
        font-style: normal;
        font-size: 12px;
        font-weight: 100;
    }
    #Submit {
        background-color: #fc9920;
        color: #ffffff;
        border: Black;
        font-size: 11px;
        font-style: normal;
        border-radius: 25px;
        top: -42px;
        width: 98px;
        height: 28px;
        text-shadow: none;
        margin-top: -30px;
        margin-bottom: 0px;
        margin-left: 580px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    #un,
    #us,
    #ug,
    #uk {
        font-family: Arial;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        color: black;
        width: 201px !important;
        height: 32px !important;
        border-radius: 25px;
        background: #ffffff;
        border: .9px solid #d0cfcf;
        margin: .4em 0;
        text-shadow: none;
    }
    #submit {
        margin-top: 10px;
        background-color: #ff9700;
        color: white;
        font-weight: bold;
        font-family: Arial;
        border: none;
        font-size: 12px;
        font-style: normal;
        border-radius: 25px;
        width: 201px;
        text-shadow: none;
    }
    #he2 {
        font-family: Arial !important;
        font-size: 12px !important;
        text-align: center !important;
        margin-top: 0px !important;
        font-weight: regular;
    }
    #header1 {
        font-family: Arial !important;
        font-size: 20px !important;
        text-align: center !important;
        margin-top: 20px !important;
        font-weight: bold;
    }
    .ma {
        margin-left: 160px;
        margin-top: -114px;
        padding-bottom: 0px;
        padding-top: 61px;
    }
    .itemName {
        color: #000000;
        margin-top: -65px;
        font-weight: bold;
    }
    .accountName {
        color: #ffffff;
        font-weight: bold;
    }
    .itemPrice {
        display: inline;
        color: #858282;
        margin-top: -10px;
    }
    .column {
        float: left;
        width: 31.33%;
        padding: 10px;
        height: 150px;
        /* Should be removed. Only for demonstration */
    }
    .column1 {
        float: left;
        width: 32.83%;
        padding: 25px;
        height: 120px;
        /* Should be removed. Only for demonstration */
    }
    .column2 {
        float: bottom;
        width: 444.93%;
        padding: 25px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    #margin-top-link {
        margin: 15px 0 3px 24px;
        color: #858282;
    }
    #margin-top-link2 {
        margin: 5px 0 3px 22px;
        color: #858282;
    }
    #margin-top-link3 {
        margin: 5px 0 3px 24px;
        color: #858282;
    }
    #margin-top-link4 {
        margin: 5px 0 3px 18px;
        color: #858282;
    }
    #margin-top-link4-top {
        margin: 5px 0 3px 18px;
        color: #858282;
    }
    #margin-top-link5 {
        margin: 5px 0 3px 28px;
        color: #858282;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .row2:after {
        content: "";
        display: table;
        clear: both;
    }
    .row3:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #header {
        height: 75px;
        z-index: 1000
    }
    .logo {
        float: left;
        width: 150px !important;
        padding-top: 5px;
        margin-left: 3%;
    }
    .notificationLogo {
        padding-top: 10px !important;
        margin-right: 3% !important;
        height: 50px !important;
    }
    #grad1 {
        height: 180px;
        background-color: #fc9920;
        /* For browsers that do not support gradients */
    }
    .mhead {
        margin: 3px 0px 5px 0px;
    }
    .menu-ham2 {
        width: 120px !important;
        margin: 5px 0 3px 450px !important;
    }
    #container1 {
        box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: white;
        color: black;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #v-promo-popup {
        width: 471px;
    }
    #v-promo-popup-edit {
        width: 471px;
    }
    #usergrid {
        font-family: Arial !important;
        font-size: 14px !important;
    }
    #sau {
        font-family: Arial;
        font-style: normal;
        font-size: 12px;
        font-weight: 100;
    }
    #Submit {
        background-color: #fc9920;
        color: #ffffff;
        border: Black;
        font-size: 11px;
        font-style: normal;
        border-radius: 25px;
        top: -61px;
        width: 164px;
        height: 46px;
        text-shadow: none;
        margin-top: -15px;
        margin-bottom: 16px;
        margin-left: 764px;
        transition-duration: 0.4s;
        position: relative;
        cursor: pointer;
    }
    #un,
    #us,
    #ug,
    #uk {
        font-family: Arial;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        color: black;
        width: 201px !important;
        height: 32px !important;
        border-radius: 25px;
        background: #ffffff;
        border: .9px solid #d0cfcf;
        margin: .4em 0;
        text-shadow: none;
    }
    #submit {
        margin-top: 10px;
        background-color: #ff9700;
        color: white;
        font-weight: bold;
        font-family: Arial;
        border: none;
        font-size: 14px;
        font-style: normal;
        border-radius: 25px;
        width: 201px;
        text-shadow: none;
    }
    #he2 {
        font-family: Arial !important;
        font-size: 12px !important;
        text-align: center !important;
        margin-top: 0px !important;
        font-weight: regular;
    }
    #header1 {
        font-family: Arial !important;
        font-size: 20px !important;
        text-align: center !important;
        margin-top: 20px !important;
        font-weight: bold;
    }
    .ma {
        margin-left: 220px;
        margin-top: -130px;
        padding-bottom: 0px;
        padding-top: 61px;
    }
    .itemName {
        color: #000000;
        margin-top: -65px;
        font-weight: bold;
        font-size: 14px;
    }
    .accountName {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
    }
    .itemPrice {
        display: inline;
        color: #858282;
        margin-top: -10px;
    }
    .column {
        float: left;
        width: 31.33%;
        padding: 10px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    .column1 {
        float: left;
        width: 33%;
        padding: 28px;
        height: 120px;
        /* Should be removed. Only for demonstration */
    }
    .column2 {
        float: bottom;
        width: 444.93%;
        padding: 25px;
        height: 100px;
        /* Should be removed. Only for demonstration */
    }
    #margin-top-link {
        margin: 5px 0 3px 21px;
        color: #858282;
    }
    #margin-top-link2 {
        margin: 5px 0 3px 21px;
        color: #858282;
    }
    #margin-top-link3 {
        margin: 5px 0 3px 24px;
        color: #858282;
    }
    #margin-top-link4 {
        margin: 5px 0 3px 18px;
        color: #858282;
    }
    #margin-top-link4-top {
        margin: 5px 0 3px 18px;
        color: #858282;
    }
    #margin-top-link5 {
        margin: 5px 0 3px 28px;
        color: #858282;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .row2:after {
        content: "";
        display: table;
        clear: both;
    }
    /*Header*/
    #header {
        z-index: 1000
    }
    /*Header*/
}


/* Footer */

#inactive {
    color: #858282;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
}

#active {
    color: #fc9920;
    font-family: Arial;
    font-size: 100%;
}

.ui-icon-home:after {
    background-image: url("../../Assets/img/icons/home-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-home-active:after {
    background-image: url("../../Assets/img/icons/home-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-home-inactive:after {
    background-image: url("../../Assets/img/icons/home-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-search-inactive:after {
    background-image: url("../../Assets/img/icons/search-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-search-active:after {
    background-image: url("../../Assets/img/icons/search-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-track-inactive:after {
    background-image: url("../../Assets/img/icons/track-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-track-active:after {
    background-image: url("../../Assets/img/icons/track-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-profile-inactive:after {
    background-image: url("../../Assets/img/icons/account-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-profile-inactive:after {
    background-image: url("../../Assets/img/icons/account-inactive.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

.ui-icon-profile-active:after {
    background-image: url("../../Assets/img/icons/account-active.svg");
    background-size: 90%;
    width: 25px !important;
    height: 35px !important;
}

#inactive {
    color: #858282;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    background-color: white;
}

#active {
    color: #fc9920;
    font-family: Arial;
    font-size: 100%;
    background-color: white;
}